body {
    background-color: aliceblue;
}

h1 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: cornflowerblue;
    text-shadow: black 2px 2px 4px;
    margin-top: 20px;
}