.btn {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-shadow: black 2px 2px 2px;
}

h3 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: cornflowerblue;
    text-shadow: black 2px 2px 4px;
    margin-top: 20px;
}

div {
    margin-bottom: 10px;
}

label {
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    text-shadow: black 1px 1px 2px;
}

button {
    margin: 0px 5px;
}